<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ page.title }} | EX Music Summer School</title>
<link rel="stylesheet" href="{{ 'assets/css/style.css' | relative_url }}" />
<link
  rel="icon"
  href="{{ '/assets/images/favicon.ico' | relative_url }}"
  type="image/x-icon"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css?family=Playfair+Display"
/>
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
  rel="stylesheet"
/>
  <!-- Open Graph / WhatsApp Preview -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content="EX Music Summer School" />
  <meta property="og:description" content="If you're a musician looking for a week of music making in beautiful surroundings, then look no further." />
  <meta property="og:image" content="https://cdn.jsdelivr.net/gh/owen-kellie-smith/ex-static@0.0.6/assets/images/lake.jpg" />
  <meta property="og:image:width" content="2016" />
  <meta property="og:image:height" content="1512" />
  <meta name="robots" content="index, follow" />
  <!-- Twitter Card (Optional, improves other platforms) -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="EX Music Summer School" />
  <meta name="twitter:description" content="If you're a musician looking for a week of music making in beautiful surroundings, then look no further." />
  <meta name="twitter:image" content="https://cdn.jsdelivr.net/gh/owen-kellie-smith/ex-static@0.0.6/assets/images/lake.jpg" />

