
<section class="hero-slider">
  <div class="slide ">
    <img src="https://cdn.jsdelivr.net/gh/owen-kellie-smith/ex-static@v0.0.6/assets/images/slide_baton.jpg" >
  </div>
  <div class="slide">
    <img src="https://cdn.jsdelivr.net/gh/owen-kellie-smith/ex-static@v0.0.6/assets/images/slide_clarinet.jpg" >
  </div>
  <div class="slide">
    <img src="https://cdn.jsdelivr.net/gh/owen-kellie-smith/ex-static@v0.0.6/assets/images/slide_sax.jpg" >
  </div>
  <div class="slide">
    <img src="https://cdn.jsdelivr.net/gh/owen-kellie-smith/ex-static@v0.0.6/assets/images/slide_flute.jpg" >
  </div>
  <div class="slide">
    <img src="https://cdn.jsdelivr.net/gh/owen-kellie-smith/ex-static@v0.0.6/assets/images/slide_trombone.jpg" >
  </div>
  <div class="slide">
    <img src="https://cdn.jsdelivr.net/gh/owen-kellie-smith/ex-static@v0.0.6/assets/images/slide_horn.jpg" >
  </div>
  <div class="slide">
    <img src="https://cdn.jsdelivr.net/gh/owen-kellie-smith/ex-static@v0.0.6/assets/images/slide_music_light.jpg" >
  </div>

</section>

<script>
const slides = document.querySelectorAll('.slide');
// Get saved slide index (default to 0)
let current = parseInt(localStorage.getItem('heroSlide')) || 0;


function showSlide(index) {
  slides.forEach((s, i) => {
    s.classList.toggle('active', i === index);
  });
  current = index;

  // Save to localStorage
  localStorage.setItem('heroSlide', current);
  preloadNextSlide();

}

function nextSlide() {
  let next = (current + 1) % slides.length;
  showSlide(next);
}
// initialize with next slide to mark page refresh
nextSlide();

setInterval(nextSlide, 5000);

function preloadNextSlide() {
    const nextIndex = (current + 1) % slides.length;
    const nextSlide = slides[nextIndex];
    const img = nextSlide.querySelector('img');
    if (img && img.loading === 'lazy') {
        img.loading = 'eager'; // Forces browser to fetch immediately
    }
}
</script>

